Repository wodCZ/quotd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Format README
  README.md
Due: prettier --write

Add post, patch, and delete functionality
  package-lock.json
  package.json
  src/authors/authors.controller.ts
  src/authors/authors.service.ts
  src/authors/dto/create-author.dto.ts
  src/authors/dto/update-author.dto.ts
  src/categories/categories.controller.ts
  src/categories/categories.service.ts
  src/categories/dto/create-category.dto.ts
  src/categories/dto/update-category.dto.ts
  src/quotes/dto/create-quote.dto.ts
  src/quotes/dto/update-quote.dto.ts
  src/quotes/quotes.controller.ts
  src/quotes/quotes.service.ts
Due: eslint, prettier --write

Add docker compose file
  docker-compose.yml
Due: none

Add auth module
  package-lock.json
  package.json
  src/app.module.ts
  src/auth/auth.controller.spec.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/auth/constants.ts
  src/auth/guards/jwt-auth.guard.ts
  src/auth/guards/local-auth.guard.ts
  src/auth/strategies/jwt.strategy.ts
  src/auth/strategies/local.strategy.ts
Due: eslint, prettier --write

Add users module
  src/app.module.ts
  src/users/users.module.ts
  src/users/users.service.spec.ts
  src/users/users.service.ts
Due: eslint, prettier --write

Add users schema
  prisma/schema.prisma
Due: none

Add scripts for database in development
  package.json
Due: prettier --write

Make PrismaService readonly
  src/authors/authors.service.ts
  src/categories/categories.service.ts
  src/quotes/quotes.service.ts
Due: eslint, prettier --write

Use guards for create, update, and delete routes
  src/authors/authors.controller.ts
  src/categories/categories.controller.ts
  src/quotes/quotes.controller.ts
Due: eslint, prettier --write

Add composite index to quotes table
  prisma/schema.prisma
Due: none

Return unauthorized exception for no username found
  src/auth/auth.service.ts
Due: eslint, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: prettier --write

Replace constants with environment variables
  src/auth/auth.module.ts
  src/auth/constants.ts
  src/auth/strategies/jwt.strategy.ts
Due: eslint, prettier --write

Use Prisma validator
  src/authors/authors.service.ts
  src/quotes/quotes.service.ts
Due: eslint, prettier --write

Fix Prisma interfering with `enableShutdownHooks`
  src/main.ts
Due: eslint, prettier --write

refactor: move mysql env variables to .env file
  .env.dist
  .gitignore
  docker-compose.yml
Due: none

feat: enable config variable expansion
  src/app.module.ts
Due: eslint, prettier --write

docs: update installation instructions
  README.md
Due: prettier --write

feat: add typed responses
  src/authors/entity/author.entity.ts
  src/categories/entity/category.entity.ts
  src/quotes/entity/quote.entity.ts
  src/quotes/quotes.controller.ts
  src/quotes/quotes.service.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.ts
  prettier --write: any of: *.{ts,json,md}
